
.login,
.col-md-6 {
  min-height: 90vh;
}

.container {
  margin-left: 5%;
}

.container-main {
  margin-left: 8rem;
}

/* .col-md {
  padding-left: 7rem;
} */

.col-md-6 {
  border-radius: 2rem;
  margin-top: 4rem;
  /* padding-left: 8rem; */
}

.bg-image {
  background-image: url("/src/image.png");
  background-size: cover;
  background-position: center;

}

.display-3,
.display-4 {
  color: rgb(2, 60, 133);
  font-size: 3rem;
  font-family: 'IBM Plex Sans', sans-serif;

}

.display-4 {
  padding-bottom: 1.5rem;
}

#sign {
  margin-left: 8rem;
}


#formControlLg {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: .85rem;
  background: rgb(234, 234, 234);
}
#btn{
  margin-bottom: 2rem;
}
/* 
.form-check {
  padding-bottom: 1rem;
} */
.forgot{
  padding-left: 15rem;
}
/* .forgot-label {
  padding-left: 12rem;
} */
.larger{
  width: 20px;
  height: 18px;
  color: rgb(2, 60, 133);
  

}
#login-btn {
  background-color: rgb(255, 184, 3);
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 1.5rem;

}

#login-google {
  font-size: 15px;
  font-weight: bold;
  /* background-image: url("/src/google.png");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 9.5rem; */
  border-color: rgb(2, 60, 133);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.google-logo {
height: 14px;
padding-right: .5rem;
}

.sign-up {
  color: rgb(2, 60, 133);
  font-family: 'IBM Plex Sans', sans-serif;

}

.checkbox {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.Terms {
  color: rgb(2, 60, 133);
}

/* #signup-google {
  font-size: 15px;
  background-image: url("/src/google.png");
  background-repeat: no-repeat;
  background-position: 8.5rem;
} */

@media screen and (max-width: 600px) {
  .container {
    margin-left: 0%;
    margin-right: 0%;
  }

  .container-main {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media screen and (max-width: 851px) and (min-width: 610px) {
  .container {
    margin-left: 0%;
    margin-right: 0%;
  }

  .container-main {
    margin-left: 0%;
    margin-right: 0%;
  }
}

/* @media screen and (max-width: 851px) and (min-width: 841px) {
  .container {
    margin-left: 0%;
    margin-right: 0%;
  }

  .container-main {
    margin-left: 0%;
    margin-right: 0%;
  }
} */



@media screen and (max-width: 895px) and (min-width: 851px) {
  .container {
    margin-left: 0%;
    margin-right: 0%;
  }

  .container-main {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media screen and (max-width: 400px) {
  .container {
    margin-left: 0%;
    margin-right: 0%;
  }

  .container-main {
    margin-left: 0%;
    margin-right: 0%;
  }
}